# If want to use enterprise features
APOLLO_GRAPH_REF=cxd-testing@io-whitelabel 
APOLLO_KEY=service:cxd-testing:XXXXXXXXXXXXXXXXXXXXXXXXXXX   

# Docker Configuration
ROUTER_IMAGE=ghcr.io/apollographql/router:v2.12.1

# Application
APOLLO_ROUTER_LOG_LEVEL=info
